docs/.vitepress/cache

coverage
npm-debug.log
yarn-error.log
.nyc_output
coverage.lcov
temp
test-dts/tsconfig.tsbuildinfo
.env
packages/*/LICENSE
explorations
docs-api
packages/docs/api
.yalc
yalc.lock

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?