node_modules
coverage
npm-debug.log
yarn-error.log
.nyc_output
coverage.lcov
dist
package-lock.json
.DS_Store
temp
test-dts/tsconfig.tsbuildinfo
.env
packages/*/LICENSE
explorations
docs-api
packages/docs/api
.yalc
yalc.lock
