.home-hero .image {
  width: 200px;
  height: 200px;
}

.nav-bar .logo {
  height: 30px;
  margin-right: 2px;
}

.action.alt .icon.outbound {
  color: currentColor;
}

.action .item.item.item {
  border-color: var(--c-yellow);
  background-color: var(--c-yellow);
}

.action.alt .item.item.item {
  background-color: transparent;
}

.action .item.item.item:hover {
  background-color: var(--c-yellow-light);
}

.action .item.item.item,
.action .item.item.item:hover {
  color: var(--c-brand-text);
}

.action.alt .item.item.item {
  color: var(--c-text);
  border-color: var(--c-text);
  /* transition when toggling dark mode */
  transition: background-color 150ms ease-in-out, border-color 150ms ease-in-out,
    color 150ms ease-in-out;
}

.action.alt .item.item.item:hover {
  background-color: var(--c-yellow-light);
  border-color: var(--c-yellow-light);
  color: var(--c-brand-text);
}

.nav-bar.nav-bar {
  background-color: var(--c-bg);
}

.content img {
  border-radius: 10px;
}

/* hide external links icons in menus */
.nav-dropdown-link-item .icon {
  display: none;
}

:root {
  --c-yellow: #ffd859;
  --c-yellow-light: #f7d336;
  --c-white-dark: #f8f8f8;
  --c-black: #111827;
  --c-black-light: #161f32;
  --c-black-lighter: #262a44;
  --c-text-dark-1: #d9e6eb;
  --c-text-dark-2: #c4dde6;
  --c-text-dark-3: #abc4cc;
  /* #f9fafb */

  --c-brand: #086367;
  --c-brand-light: #33898d;
  --c-brand-text: var(--c-text-light-1);
  --c-bg-accent: var(--c-white-dark);
  --code-bg-color: var(--c-white-dark);
  --code-inline-bg-color: var(--c-white-dark);
  --code-font-family: 'dm', source-code-pro, Menlo, Monaco, Consolas,
    'Courier New', monospace;
  --code-font-size: 16px;
}

.custom-block.tip {
  border-color: var(--c-brand-light);
  background-color: var(--c-bg-accent);
}

.carbon-ads {
  /* display space with the background in mobile too */
  padding: 8px;
}

.carbon-ads,
.bsa-cpc {
  background-color: var(--c-bg-accent) !important;
}

tr:nth-child(2n) {
  background-color: var(--code-bg-color);
}

html:not(.light) th,
html:not(.light) td {
  border: 1px solid var(--c-brand-text);
}

html:not(.light):root {
  /* --c-black: #ffffff;
  --c-white: #000000; */
  /* --c-divider-light: rgba(60, 60, 67, 0.12);
  --c-divider-dark: rgba(84, 84, 88, 0.48); */
  --c-brand: var(--c-yellow);
  --c-brand-light: var(--c-yellow-light);

  --c-text: var(--c-text-dark-1);
  --c-text-light: var(--c-text-dark-2);
  --c-text-lighter: var(--c-text-dark-3);
  --c-divider: var(--c-divider-dark);
  --c-bg: var(--c-black);
  --c-bg-accent: var(--c-black-light);
  --code-bg-color: var(--c-black-light);
  --code-inline-bg-color: var(--c-black-light);
}

html:not(.light) .custom-block.warning {
  color: var(--c-text);
}

html:not(.light) .custom-block.warning a {
  color: var(--c-brand);
}

html:not(.light) .DocSearch {
  --docsearch-text-color: var(--c-white-dark);
  --docsearch-container-background: rgba(9, 10, 17, 0.8);
  --docsearch-modal-background: var(--c-black);
  --docsearch-modal-shadow: inset 1px 1px 0 0 #2c2e40, 0 3px 8px 0 #000309;
  --docsearch-searchbox-background: var(--c-black-lighter);
  --docsearch-searchbox-focus-background: var(--c-black-light);
  --docsearch-hit-color: var(--c-text-dark-1);
  --docsearch-hit-active-color: var(--c-brand-text);
  --docsearch-hit-shadow: none;
  --docsearch-hit-background: var(--c-black-light);
  --docsearch-key-gradient: linear-gradient(-26.5deg, #565872, #31355b);
  --docsearch-key-shadow: inset 0 -2px 0 0 #282d55, inset 0 0 1px 1px #51577d,
    0 2px 2px 0 rgba(3, 4, 9, 0.3);
  --docsearch-footer-background: var(--c-black-light);
  --docsearch-footer-shadow: inset 0 1px 0 0 rgba(73, 76, 106, 0.5),
    0 -4px 8px 0 rgba(0, 0, 0, 0.2);
  --docsearch-logo-color: var(--c-white-dark);
  --docsearch-muted-color: var(--c-text-dark-1);
}

body,
.nav-bar,
.carbon-ads,
.bsa-cpc,
.custom-block.tip,
code,
div[class*='language-'],
.action.alt .item.item {
  /* transition when toggling dark mode */
  transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
}

.sidebar.sidebar.sidebar,
.DocSearch,
.DocSearch-Search-Icon,
.DocSearch-Form {
  /* transition when toggling dark mode */
  transition: transform 250ms ease, background-color 300ms ease-in-out,
    color 300ms ease-in-out;
}

.DocSearch-Button-Key,
.DocSearch-Footer,
.DocSearch-Modal {
  transition: background-color 300ms ease-in-out, color 300ms ease-in-out,
    box-shadow 250ms ease-in-out;
}

code {
  font-size: 0.95em;
  padding: 0.175em 0.35em;
}

.become-sponsor {
  font-size: 0.9em;
  font-weight: 700;
  width: auto;
  text-align: center;
  background-color: transparent;
  padding: 0.75em 2em;
  border-radius: 2em;
  transition: all 0.15s ease;
  box-sizing: border-box;
  border: 2px solid var(--c-text);
  color: var(--c-text);
}

.become-sponsor:hover {
  background-color: var(--c-yellow);
  text-decoration: none;
  border-color: var(--c-yellow);
  color: var(--c-text-light-1);
}

.sponsors-top .become-sponsor {
  font-size: 0.75em;
  padding: 0.2em;
  width: auto;
  max-width: 150px;
}
.vue-school-homepage-link{
  text-align: center; margin-top: -40px;
}
.vue-school-homepage-link a{
  position: relative;
  padding-left: 23px;
}
.vue-school-homepage-link a::before{
  content: '';
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  top: calc(50% - 10px);
  left: -4px;
  border-radius: 50%;
  border: 1px solid var(--c-brand);
}
.vue-school-homepage-link a::after{
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  top: calc(50% - 4px);
  left: 4px;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 7px solid var(--c-brand);
}
@media screen and (max-width: 720px){
  .vue-school-homepage-link{
    text-align: center; margin-top: -20px;
  }
}
