.vp-doc a[href^="https://play.pinia.vuejs.org"]:before {
  content: '▶';
  width: 20px;
  height: 20px;
  display: inline-block;
  border-radius: 10px;
  vertical-align: middle;
  position: relative;
  top: -2px;
  border: 2px solid;
  margin-right: 8px;
  margin-left: 4px;
  line-height: 15px;
  padding-left: 4.5px;
  font-size: 11px;
  font-family: system-ui, BlinkMacSystemFont, sans-serif;
}
